---
# MicroK8s has built-in Helm (helm3)
# Use that instead of installing Helm system-wide.

- name: Add Prometheus repo to MicroK8s Helm
  command: microk8s helm3 repo add prometheus-community https://prometheus-community.github.io/helm-charts
  become: yes

- name: Update Helm repos
  command: microk8s helm3 repo update
  become: yes

- name: Install kube-prometheus-stack via MicroK8s Helm
  command: >
    microk8s helm3 install monitoring prometheus-community/kube-prometheus-stack
    --namespace monitoring --create-namespace
  become: yes