---
- name: Install snapd
  apt:
    name: snapd
    state: present
    update_cache: yes
  become: yes

- name: Install MicroK8s
  command: snap install microk8s --classic
  args:
    creates: /snap/bin/microk8s
  become: yes

- name: Add current user to microk8s group
  user:
    name: "{{ ansible_user }}"
    groups: microk8s
    append: yes
  become: yes

- name: Enable MicroK8s addons
  command: microk8s enable dns storage ingress
  become: yes

- name: Wait for MicroK8s to be ready
  command: microk8s status --wait-ready
  become: yes