---
- name: Disable root login in SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  become: yes

- name: Disable password login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
  become: yes

- name: Restart SSH
  service:
    name: ssh
    state: restarted
  become: yes

- name: Install UFW
  apt:
    name: ufw
    state: present
  become: yes

- name: Allow SSH in firewall
  ufw:
    rule: allow
    port: 22
  become: yes

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny
  become: yes